.inputContainer {
  margin-top: 1rem;
  display: flex;
  gap: 0.75rem;
}

.inputName {
  font-size: 1rem;
  background-color: var(--text-secondary);
  color: var(--text-inverted);
  border: solid var(--border-default) 2px;
  border-radius: 0.3rem;
  padding: 0.2rem 0.4rem;
  outline: none;
}
